body {
  color: black;
}

.delete-btn {
  background-color: red;
  color: white;
}

#footer {
  color: white;
  background-color: gray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}